body, html {
    background: #f9f3e7;
    overflow-x: hidden;
    padding-bottom: 0;
}

html {
    font-family: 'Roboto Condensed', sans-serif !important;
}

div {
    /*border: 1px solid red;*/
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff!important;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: orange!important;
}
#page-head {
    background: #000000;
    text-align: center;
    color: #c9cdc8;
    padding: 1%;
}
.point {
    list-style-type: lower-alpha;
}

td{
    height: 50px!important;
}

#logo-text {
    font-size: 200%;
    padding-top: 9%;
    width: auto;
    padding-left: 0;
    color: #A57F30;
}

#menu-box {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
}

.desc-text {
    padding: 5%;
    color: #000000;
    font-size: 115%;
}

.page-thumb {
    padding-top: 2%;
    box-shadow: 5px 5px 5px #A57F30;
    color: #000000;
    margin-bottom: 11% !important;
}

.page-thumb:hover{
    border: 1px solid #ff0000;
}

.service-image {
    width: 100px;
    height: 100px;
}

.service-box {
    padding: 4%;
    padding-bottom: 3%!important;
}

.service-title {
    font-size: 200%;
    padding: 3%;
}

.service-btn {
    margin-top: 5%;
    background: #d88f07;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.row{
    margin-left: -6.5px!important;
    margin-right: -6.5px!important;
}
.container {
    width: 1250px!important;
}
.navbar {
    margin-bottom: 2px!important;
}
.container {
    padding-right: 0!important;
    padding-left: 0!important;
}
#services-row .thumbnail {
    margin-bottom: 0!important;
}
.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.quarter-mega-dropdown-menu {
    padding: 20px 0px;
    width: 35%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.quarter-mega-dropdown-menu {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.quarter-mega-dropdown-menu  > li > ul > li{
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    color: #222;
    padding: 3px 5px;
}

.quarter-mega-dropdown-menu > li > ul > li > a{
    display: block;
    color: #222;
    padding: 3px 5px;
}


.quarter-mega-dropdown-menu > li ul > li > a:hover,
.quarter-mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
}

.quarter-mega-dropdown-menu > li ul > li > a:hover,
.quarter-mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ff3546;
    padding: 5px 10px 5px 5px;
    line-height: 30px;
}

.quarter-mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ff3546;
    padding: 5px 10px 5px 5px;
    line-height: 30px;
}

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;

}

.left.carousel-control {
    right: 30px;
    left: inherit;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}

#logo-box {
    padding-left: 2%;
}

.values {
    font-size: 180%;
    color: #aeb6bf;
    text-transform: uppercase;
    font-weight: bold;
}

#full-name {
    font-size: 130%;
}

#page-head {
    background: #A57F30;
    color: #FFFFFF;
    margin-top: 1%;
}
.modal-backdrop {
    z-index: 0!important;
}

#qbtn {
    position: fixed;
    top: 15%;
    right: 0;
    height: 50px;
    width: 85px;
    border: 3px solid #A57F30;
    background-color: #FFFFFF;
    color: #222222;
    font-weight: bold;
    z-index: 100;
}

.media a:link{
    margin-bottom: 5%;
    color: #222222;
    text-decoration: none;
}

.media a:visited{
    color: #222222;
    text-decoration: none;
}

.media a:hover{
    text-decoration: underline;
    color: #222222;
}
.loader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('http://localhost/UrbraCMS/img/ajax-loader.gif') 50% 50% no-repeat;
}
.success-alert{
    display: none;
    z-index: 10000;
    background-color: #1fa142;
    color: #ffffff;
    padding: 2%;
    position: fixed;
    top: 0;
    width: 100%;
}

#marquee-box {
    /*float:left;*/
    /*width:1000px;*/
    border: 1px solid red;
    height: 300px;
    overflow-y: scroll;
    max-height: 300px;
}

.error {
    display: none;
    z-index: 1000;
    background-color: #FF0000;
    color: #ffffff;
    padding: 2%;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
}

.container-fluid{
    padding-right: 0!important;padding-left: 0!important;
}

#admin-icon {
    margin-top: 10%;
}
#admin-tex {
    padding-bottom: 10%;
}
.caption{
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
}

@media only screen and (max-width: 767px) and (min-width: 553px){
    #admin-icon {
        margin-top: 0;
    }
    #admin-tex {
        padding-bottom: 0;
    }
    #scheme-text {
        padding-bottom: 0;
    }
}
@media only screen and (min-width: 768px) {

    #admin-icon {
        margin-top: 10%;
    }
    #admin-tex {
        padding-bottom: 10%;
    }
}
@media only screen and (max-width: 553px){
    #admin-icon {
        margin-top: 0;
    }
    #admin-tex {
        padding-bottom: 12%;
    }
    #scheme-text {
        padding-bottom: 0;
    }
}
@media only screen and (max-width: 331px){
    #admin-icon {
        margin-top: 0;
    }
    #admin-tex {
        padding-bottom: 39%;
    }
    #scheme-text {
        padding-bottom: 0;
    }
}
@media only screen and (max-width: 306px) {
    #complaint-text {
        margin-bottom: 21%;
    }
}



